*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Oswald", sans-serif;
  color: #000;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 96px 0;
}

section .section-title {
  font-size: 48px;
  margin: 0 0 72px 0;
  text-align: center;
}

section .section-subtitle {
  margin: 0 0 36px 0;
  text-align: center;
  font-style: italic;
  color: grey;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-one {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  border: 2px solid transparent;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  background-color: #FFC045;
  transition: 0.5s;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url(https://i.postimg.cc/C5g7zNqy/close-up-photography-of-smartphone-beside-binder-clip-1841841-1.jpg);
  background-size: cover;
}

.navigation .logo {
  height: 50px;
}

.navigation .logo img {
  max-height: 100%;
  max-width: 100%;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 36px;
}

.navigation ul li a:hover {
  color: #FFC045;
}

.navigation .splash-inner {
  margin: auto;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.navigation .splash-inner .page-title {
  font-size: 96px;
}

.navigation .splash-inner .page-subtitle {
  font-size: 48px;
}

.services {
  color: #000;
}

.services .wrapper {
  min-height: 300px;
}

.services .wrapper i {
  color: #FFC045;
  font-size: 48px;
  border: 4px solid #FFC045;
  border-radius: 50%;
  padding: 20px;
}

.portfolio .wrapper {
  margin: 0 0 48px 0;
}

.portfolio .wrapper .portfolio-photo {
  height: 250px;
}

.portfolio .wrapper .portfolio-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .wrapper .portfolio-description p {
  color: grey;
  text-align: center;
}

footer {
  margin: 0 0 20px 0;
}

footer p {
  color: grey;
}

footer li {
  display: inline-block;
  padding: 0 20px 0 0;
}

footer li .fab {
  height: 40px;
  width: 40px;
  color: #fff;
  font-size: 20px;
  background: #222;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

@media (max-width: 641px) {
  .navigation .logo {
    height: 40px;
  }
  .navigation ul li {
    margin: 0 10px;
  }
  .navigation .splash-inner .page-title {
    font-size: 48px;
  }
  .navigation .splash-inner .page-subtitle {
    font-size: 24px;
  }
  .services .wrapper {
    margin: 0 0 40px 0;
  }
}

footer li {
  padding: 0 10px 0 0;
}

footer li .fab {
  height: 25px;
  width: 25px;
  line-height: 25px;
  font-size: 12px;
}

@media (max-width: 361px) {
  .navigation .logo {
    height: 30px;
  }
  .navigation .splash-inner .page-title {
    font-size: 32px;
  }
  .navigation .splash-inner .page-subtitle {
    font-size: 24px;
  }
  footer li {
    padding: 0 5px 0 0;
  }
  footer li .fab {
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-size: 10px;
  }
}

@media (max-width: 321px) {
  footer li {
    padding: 0 5px 0 0;
  }
  footer li .fab {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */