*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Oswald", sans-serif;
  color: #000;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 96px 0;
}

section .section-title {
  font-size: 48px;
  margin: 0 0 72px 0;
  text-align: center;
}

section .section-subtitle {
  margin: 0 0 36px 0;
  text-align: center;
  font-style: italic;
  color: grey;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-one {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  border: 2px solid transparent;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  background-color: #FFC045;
  transition: 0.5s;
}

.navigation .logo {
  height: 50px;
  position: absolute;
  z-index: 2;
}

.navigation .logo img {
  max-height: 100%;
  max-width: 100%;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  z-index: 2;
}

.navigation ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 36px;
}

.navigation ul li a:hover {
  color: #FFC045;
}

.splash {
  background-image: url(https://i.postimg.cc/YqrPDtSB/apple-coffee-computer-desk-356056.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

.splash .splash-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  color: #fff;
}

.splash .splash-inner h1 {
  font-size: 5rem;
}

.splash .splash-inner h2 {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  font-style: italic;
}

.splash .splash-inner a:hover {
  border: 2px solid #FFC045;
  background: transparent;
  color: #FFC045;
}

.splash:after {
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: "";
  opacity: 0.5;
}

.services {
  color: #000;
}

.services .wrapper {
  min-height: 250px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.services .wrapper i {
  color: #FFC045;
  font-size: 48px;
  border: 4px solid #FFC045;
  border-radius: 50%;
  padding: 20px;
}

.portfolio .wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0 0 48px 0;
}

.portfolio .wrapper .portfolio-photo {
  height: 250px;
}

.portfolio .wrapper .portfolio-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .wrapper .portfolio-description {
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */